
.background-image {
    background-image: url('../assets/wallpaper.png'); /* Adjust the path as necessary */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  