@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .blinkin-cursor:after{
        content: "|";
        @apply text-emerald-300;
        animation: blink 1s step-start infinite ;
    }

    .background {
        background-image: url('../assets/backgroundImage.jpg');
        /* Adjust background properties as needed */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* Add other background properties if necessary */
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
}