@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .blinkin-cursor:after{
        content: "|";
        @apply text-emerald-300;
        animation: blink 1s step-start infinite ;
    }

    .background {
        background-image: url('./assets/backgroundImage.png');
    }

    @media (max-width: 700px) {
        .background {
          background-image: url('./assets/backgroundImage3.png');
        }
      }


    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
}